<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="fa-fa-solid fa fa-globe text-white dropdown-text-size"> </span>>
       <!-- <img src="images/logo.png" alt="Logo" class="logo" />-->
        <a class="navbar-brand" href="https://github.com/JaromirIhln/jaromirihln.github.io">Jaromír Ihln</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="fa fa-calculator px-2 fa-fa-solid" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink id="reference-link" class="nav-link" href="reference">
                <span class="fa fa-book px-2 fa-fa-solid" aria-hidden="true"></span> Reference
            </NavLink>
        </div>
        <button class="dropdown-btn text-bg-dark ms-4 px-4 pe-4"><span class="fa fa-globe"></span> Více
            <span class="fa fa-caret-down"></span>
        </button>
        <div class="dropdown-container text-bg-dark">
            <a href="https://mypage.jaraweb.cz/learn/index.html" class="ms-1 nav-link text-white d-block dropdown-text-size" target="_self"><span
                    class="fa fa-microchip"><small> IT testy</small></span> </a>
            <a href="https://mypage.jaraweb.cz/learn/all_then.html" class="ms-1 nav-link text-white d-block dropdown-text-size" target="_blank"><span
                    class="fa fa-keyboard-o"> <small> Cvičení psaní</small></span> </a>
            <a href="#" class="ms-1 nav-link text-white d-block dropdown-text-size" onclick="openModal()"><span class="fa fa-user"> </span> Galerie</a>
         <a href="#" onclick="document.getElementById('contact-form').style.display='block'" class="ms-1 nav-link text-white d-block dropdown-text-size"><span
                class="fa fa-envelope-o"> </span> Kontakt</a>
        </div>
       
        <!-- <a href="#">Registrovat</a> -->

<div class="nav-item px-3">
    <NavLink id="about-link" class="nav-link" href="about">
        <span class="fa fa-info px-2" aria-hidden="true"></span> About
    </NavLink>
</div>

</nav>
</div>
 
    <!-- Skript pro dropdown menu-->
    <script src="/js/dropdown.js"></script>
    <!--Skript pro lightbox galerii-->
    <script src="/js/lightbox.js"></script>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
