<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="fa-fa-solid fa fa-globe"> </span>>
        <img src="images/logo.png" alt="Logo" class="logo" />
        <a class="navbar-brand" href="https://github.com/JaromirIhln/jaromirihln.github.io">Jaromír Ihln</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="fa fa-calculator px-2 fa-fa-solid" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink id="reference-link" class="nav-link" href="reference">
                <span class="fa fa-book px-2 fa-fa-solid" aria-hidden="true"></span> Reference
            </NavLink>
        </div>
        <button class="dropdown-btn text-bg-dark ms-4 px-4 pe-4"><span class="fa fa-globe"></span> Více
            <span class="fa fa-caret-down"></span>
        </button>
        <div class="dropdown-container text-bg-dark">
            <a href="https://mypage.jaraweb.cz/learn/index.html" class="ms-1" target="_self"><span
                    class="fa fa-microchip"><small> IT testy</small></span></a>
            <a href="https://mypage.jaraweb.cz/learn/all_then.html" class="ms-1" target="_self"><span
                    class="fa fa-keyboard-o"> <small> Cvičení psaní</small></span> </a>
            <a href="#" class="ms-1" onclick="openModal()"><span class="fa fa-user"></span> Galerie</a>
         <a href="#" onclick="document.getElementById('contact-form').style.display='block'"><span
                class="fa fa-envelope-o"> </span> Kontakt</a>
        </div>
       
        <!-- <a href="#">Registrovat</a> -->

<div class="nav-item px-3">
    <NavLink id="about-link" class="nav-link" href="about">
        <span class="fa fa-info px-2" aria-hidden="true"></span> About
    </NavLink>
</div>

</nav>
</div>
    <!--Contact form as hiden modal-->
    <div id="contact-form" class="modal">
        <form class="modal-content animate text-white" method="post" action="mailto:">
            <span onclick="document.getElementById('contact-form').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <div class="container">
                <label for="uname"><span class="fa fa-user-secret"> </span> Jméno: </label>
                <input type="text" id="uname" name="name" placeholder="Tvoje jméno..">

                <label for="email"><span class="fa fa-envelope-o"> </span> Email:</label>
                <input type="text" id="email" name="email" placeholder="Tvůj email..">

                <label for="subject"><span class="fa fa-question-circle-o"> </span> Předmět</label>
                <input id="subject" name="country" type="text" placeholder="Předmět zprávy..">


                <label for="content"><span class="fa fa-commenting-o"> </span> Zpráva:</label>
                <textarea id="content" name="content" placeholder="Tvoje zpráva.." style="height:200px"></textarea>
            </div>
            <div class="container">
                <button type="button" onclick="document.getElementById('contact-form').style.display='none'"
                    class="btn btn-danger text-white p-2 rounded-1 me-3"><span class="fa fa-remove"> </span>
                    Zrušit</button>
                <a href="mailto:xerox03@seznam.cz" type="submit"
                    class="btn btn-success text-white p-2 rounded-1">Odeslat <span class="fa fa-send-o"> </span></a>
            </div>
        </form>
    </div>
    <!-- Ještě přidám lightbox galerii - vzhledem modularitě Blazor komponent-->
    <!-- umístím galerii tam kde se nachází odkaz - nechci si to dělat složité-->
    <!-- je to hidden element, tak by to nemělo ničemu vadit-->
       <!--Hiden gallery -->
   <div id="myModal" class="modal">
    <span class="close-btn cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <div class="number-text">1 / 8</div>
            <img src="/images/wide_home.webp" style="width: 100%;">
        </div>
        <div class="mySlides">
            <div class="number-text">2 / 8</div>
            <img src="/images/owner_land.webp" style="width:100%">
        </div>
          <div class="mySlides">
            <div class="number-text">3 / 8</div>
            <img src="/images/i_without_w_0.webp" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="number-text">4 / 8</div>
            <img src="/images/best-wallpapers-7.webp" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="number-text">5 / 8</div>
            <img src="/images/lucky_jump_w.webp" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="number-text">6 / 8</div>
            <img src="/images/pyramid_camel_w.webp" style="width:100%">
        </div>
         <div class="mySlides">
            <div class="number-text">7 / 8</div>
            <img src="/images/wide_e.webp" style="width:100%">
        </div>
        <div class="mySlides">
            <div class="number-text">8 / 8</div>
            <img src="/images/a_kvalita.webp" style="width:100%">
        </div>

        <!-- Next/previous buttons controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>
        <!-- Thumbnail imeges -->
        <div class="row">
            <div class="col-3 mt-1">
                <img class="gallery img-thumbnail" src="/images/wide_home.webp" onclick="currentSlide(1)"
                    alt="Jaromír Ihln - osobně">
            </div>

            <div class="col-3 mt-1">
                <img class="gallery img-thumbnail" src="/images/owner_land.webp" onclick="currentSlide(2)"
                    alt="Já doma">
            </div>
             <div class="col-3 mt-1">
                <img class="gallery img-thumbnail" src="/images/i_without_w_0.webp" onclick="currentSlide(3)"
                    alt="Praha ITnetwork">
            </div>

            <div class="col-3 mt-1">
                <img class="gallery img-thumbnail" src="/images/best-wallpapers-7.webp" onclick="currentSlide(4)"
                    alt="Opět kdesi v Teplicích">
            </div>
            <div class="col-3 mt-1">
                <img class="gallery img-thumbnail" src="/images/lucky_jump_w.webp" onclick="currentSlide(5)"
                    alt="lucky jump">
            </div>

            <div class="col-3 mt-1">
                <img class="gallery img-thumbnail" src="/images/pyramid_camel_w.webp" onclick="currentSlide(6)"
                    alt="Camel pyramid">
            </div>

            <div class="col-3 mt-1">
                <img class="gallery img-thumbnail" src="/images/wide_e.webp" onclick="currentSlide(7)"
                    alt="Kdesi v Teplicích">
            </div>
            <div class="col-3 mt-1">
                <img class="gallery img-thumbnail" src="/images/a_kvalita.webp" onclick="currentSlide(8)"
                    alt="Duchcov v noci">
            </div>
        </div>
    </div>
</div>

    <script>
        // Inicializace modalu
        var modal = document.getElementById('contact-form');
        //Když uživatel klikne kamkoli mimo modal, opět jej skryje
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
    <!-- Skript pro dropdown menu-->
    <script src="/js/dropdown.js"></script>
    <!--Skript pro lightbox galerii-->
    <script src="/js/lightbox.js"></script>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
