<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="fa-fa-solid fa fa-globe"> </span>>
        <img src="images/logo.png" alt="Logo" class="logo" />
        <a class="navbar-brand" href="https://github.com/JaromirIhln/jaromirihln.github.io">Jaromír Ihln</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="fa fa-calculator px-2 fa-fa-solid" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink id="reference-link" class="nav-link" href="reference">
                <span class="fa fa-book px-2 fa-fa-solid" aria-hidden="true"></span> Reference
            </NavLink>
        </div>
        <button class="dropdown-btn text-bg-dark ms-4 px-4 pe-4"><span class="fa fa-globe"></span> Více
            <span class="fa fa-caret-down"></span>
        </button>
        <div class="dropdown-container text-bg-dark">
            <a href="https://mypage.jaraweb.cz/learn/index.html" class="ms-1" target="_self"><span
                    class="fa fa-microchip"><small> IT testy</small></span></a>
            <a href="https://mypage.jaraweb.cz/learn/all_then.html" class="ms-1" target="_self"><span
                    class="fa fa-keyboard-o"> <small> Cvičení psaní</small></span> </a>
            <!-- <a href="#" class="ms-1" onclick="openModal(),closeNavBar()"><span class="fa fa-user"></span> Galerie</a>-->
         <a href="#" onclick="document.getElementById('contact-form').style.display='block',closeNavBar()"><span
                class="fa fa-envelope-o"> </span> Kontakt</a>
        </div>
       
        <!-- <a href="#">Registrovat</a> -->

<div class="nav-item px-3">
    <NavLink id="about-link" class="nav-link" href="about">
        <span class="fa fa-info px-2" aria-hidden="true"></span> About
    </NavLink>
</div>

</nav>
</div>
    <!--Contact form as hiden modal-->
    <div id="contact-form" class="modal">
        <form class="modal-content animate text-white" method="post" action="mailto:">
            <span onclick="document.getElementById('contact-form').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <div class="container">
                <label for="uname"><span class="fa fa-user-secret"> </span> Jméno: </label>
                <input type="text" id="uname" name="name" placeholder="Tvoje jméno..">

                <label for="email"><span class="fa fa-envelope-o"> </span> Email:</label>
                <input type="text" id="email" name="email" placeholder="Tvůj email..">

                <label for="subject"><span class="fa fa-question-circle-o"> </span> Předmět</label>
                <input id="subject" name="country" type="text" placeholder="Předmět zprávy..">


                <label for="content"><span class="fa fa-commenting-o"> </span> Zpráva:</label>
                <textarea id="content" name="content" placeholder="Tvoje zpráva.." style="height:200px"></textarea>
            </div>
            <div class="container">
                <button type="button" onclick="document.getElementById('contact-form').style.display='none'"
                    class="btn btn-danger text-white p-2 rounded-1 me-3"><span class="fa fa-remove"> </span>
                    Zrušit</button>
                <a href="mailto:xerox03@seznam.cz" type="submit"
                    class="btn btn-success text-white p-2 rounded-1">Odeslat <span class="fa fa-send-o"> </span></a>
            </div>
        </form>
    </div>
    
    <script>
        // Inicializace modalu
        var modal = document.getElementById('contact-form');
        //Když uživatel klikne kamkoli mimo modal, skryje ho
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
